@font-face {
  font-family: "Minecraft";
  src: url(../../../assets/Minecraft.ttf);
}

* {
  font-family: "Minecraft", sans-serif;
}

.item {
  display: flex;
  border: 1px solid #ccc;
  list-style-type: none;
  user-select: none;
  -webkit-user-select: none; /* Safari */
  width: 100%;
}

.image {
  display: inline;
  height: 4rem;
  margin-top: auto;
}

.image img {
  height: 100%;
  overflow: hidden;
}

.count {
  margin-left: auto;
  font-size: 2rem;
  color: rgba(0, 0, 0, 0.5);
}

.group1 {
  width: 12.5rem;
  display: flex;
  justify-content: space-between;
}

.add-button {
  width: 100%;
  height: auto;
  text-align: center;
}

.add-button h5 {
  margin: 0.5rem;
}
