<div class="shop-sidebar">
  <app-bricks></app-bricks>
  <h1>Shop</h1>
  <ul>
    <li>
      <shop-item
        [title]="workerTitle"
        [cost]="workerCost()"
        [count]="workerCount()"
        [img]="workerImg"
        [canAddTo]="false"
        [onClick]="buyWorker"
      ></shop-item>
    </li>
    <li>
      <shop-item
        [title]="apartmentTitle"
        [cost]="apartmentCost()"
        [count]="apartmentLevel()"
        [img]="apartmentImg"
        [canAddTo]="true"
        [onClick]="buyApartment"
      ></shop-item>
    </li>
    <li>
      <shop-item
        [title]="factoryTitle"
        [cost]="factoryCost()"
        [count]="factoryLevel()"
        [img]="factoryImg"
        [canAddTo]="true"
        [onClick]="buyFactory"
      ></shop-item>
    </li>
  </ul>
</div>
