<div class="shop-sidebar">
  <h1>Shop</h1>
  <ul>
    <li>
      <shop-item
        [title]="workerTitle"
        [cost]="workerCost"
        [count]="workerCount"
        [img]="workerImg"
      ></shop-item>
      <shop-item
        [title]="apartmentTitle"
        [cost]="apartmentCost"
        [count]="apartmentCount"
        [img]="apartmentImg"
      ></shop-item>
      <shop-item
        [title]="factoryTitle"
        [cost]="factoryCost"
        [count]="factoryCount"
        [img]="factoryImg"
      ></shop-item>
    </li>
  </ul>
</div>
