/* Make a shop sidebar that sticks to the right side of the page */
ul {
  list-style-type: none;
  list-style: none;
  padding-left: 0;
  display: flex;
  flex-direction: column;
}

li {
  height: auto;
  /* padding-bottom: 2.5rem; */
}

h1 {
  text-align: center;
}
